<h3><strong><%= revision.author.display_name %></strong> <br>
<small><%= revision.get_date %></small></h3><hr>

<% if !!revision.comment %>
  <p>
    Comment: <%= revision.comment %>
  </p>
<% end %>

<%= revision.get_content.html_safe %>
