<div class="scroll-flow" >
<h3><b><%= revision.author.display_name %></b> <br>
<small><%= revision.get_date %></small></h3><hr>

<% if !!revision.comment %>
  <p>
    Comment: <%= revision.comment %>
  </p>
<% end %>

<div>
  <%= revision.get_content.html_safe %>
</div>
</div>

