<div class="scroll-flow" >
<h3><strong><%= revision.author.name %></strong> <br>
<small><%= revision.get_date %></small></h3><hr>

<% if !!revision.comment %>
  <p>
    Comment: <%= revision.comment %>
  </p>
<% end %>


<div>
  <%= revision.get_content.html_safe %>
</div>
</div>
