<h1>Welcome to Wikipedia Vice!</h1>
<%= form_tag("/pages", method: "post", class: "form col-md-9") do %>
<div class="form-group">
  <%= label_tag(:query, "Search For:") %>
  <%= text_field_tag(:query, "", class: "form-control") %>  
</div>
<div class="form-group">
  <%= submit_tag("Search", class: "btn btn-default") %>
</div>
  
<% end %>