
<div class="col-md-10 col-md-offset-1">
<h1>Welcome to Wikipedia Vice!</h1>
<%= form_tag("/pages", method: "post", class: "form col-md-12") do %>
<div class="form-group col-md-10">
  <%= text_field_tag(:query, "", class: "form-control index-search-bar", placeholder:"Search For...", id: "query-welcome") %>  
</div>
<div class="form-group col-md-2">
  <%= submit_tag("Search", class: "btn btn-default") %>
</div>
<% end %>

  <div class="loader"></div>
<% if flash[:notice] %>
  <div class="row">
    <div class="alert alert-danger fade in col-md-4">
      <%= flash[:notice] %>
    </div>    
  </div>

<% end %>

</div>