  <div class="row"> 
    <div class="col-md-3 col-sm-6">
      <div class="dashboard-tile detail tile-red">
        <div class="content">
          <h3>This page changes every <b><%=@page.time_between_revisions%></b></h3>
        </div>
      </div>
    </div>