%br
%br
%br
.col-md-12
  .panel-solid-primary.col-md-9.col-md-offset-1
    .panel-body
	   
      %h1.col-md-4.col-md-offset-1 Sit tight.
      %hr.col-md-8.col-md-offset-1{:style => "margin-left:70px;"}
      %br
      .col-md-10.col-md-offset-1
        %h3 We're looking through <strong>500</strong> revisions, <strong>500 </strong>authors, and generating some neat graphics for you.
        %br
        = image_tag("home-spinner.gif") 
        %br