<div class="main-content-wrapper col-md-8">


  <div id="page-data">
  <% if @page.revisions.count == 0 %>
  <%= render "loader" %>
    <div class="col-md-offset-6">
      <script>
        setTimeout(function(){
          location.reload();
        },3000);
      </script>
    </div>
  <% else %>
    <%= render "dashboard" %>
  <% end %>
  </div>
</div>


