<br>
<div class="main-content-wrapper">
  <div class="row">
    <div class="col-md-8">
      <div><h1 id="page_title"><%= @page.title %></h1></div>
      <hr>
    <div id="page-data"></div>
    </div>
  <%= form_for @page, remote: true do |f| %>

  <% end %>
</div>