<div class="main-content-wrapper">


  <div id="page-data">
  <% if @page.revisions.size == 0 %>
    <div class="col-md-offset-6">
      <%= image_tag("extract-spinner.gif") %>
    </div>
  <% else %>
    <%= render "dashboard" %>
  <% end %>
  </div>
</div>
