<br>
<div class="main-content-wrapper">
  <div class="row">
    <div class="col-md-8">
      <div><h1 id="page_title"><%= @page.title %></h1></div>
      <hr>
    <div id="page-data"></div>
    </div>
</div>

<script src="https://js.pusher.com/2.2/pusher.min.js"></script>

<script>
  var pusher = new Pusher('0c88ff9f8382fb32596e', {
    encrypted: true
  });
  var channel = pusher.subscribe('page_results');
  channel.bind('get_page', function(data) {
    alert(data.title);
  });  


</script>