$green: #1ABC9C;
$red: #e84c3d;

ins.diffchange {
  background-color: $green;
  color: #eee;
  font-weight: bold;
}

del.diffchange {
  background-color: $red;
  color: #eee;
  font-weight: bold;
}

#icon {
  font-size:55px;
  line-height: 100px;
}

#page_title{
  font-size: 60px;
}

body.off-canvas.off-canvas-open #container {
  -webkit-transform: translate(-200px, 0px);
  -ms-transform: translate(-180px, 0px);
  -o-transform: translate(-180px, 0px);
  transform: translate(-180px, 0px);
  transition: transform 0.3s;
  -o-transition: -o-transform 0.3s;
  -ms-transition: -ms-transform 0.3s;
  -webkit-transition: -webkit-transform 0.3s;
}
