$green: #1ABC9C;
$red: #e84c3d;

ins.diffchange {
  /*background-color: $green;
  color: #eee;*/
  background-color: #fff;
  color: $green;
  font-weight: bold;
}

del.diffchange {
  /*background-color: $red;
  color: #eee;*/
  background-color: #fff;
  color: $red;
  font-weight: bold;
}

span.added_line > div {
  /*background-color: $green;
  color: #eee;*/
  color: $green;
  font-weight: bold;
  text-decoration: underline;
}

span.deleted_line > div {
  /*background-color: $red;
  color: #eee;*/
  color: $red;
  font-weight: bold;
  text-decoration: line-through;
}

.full-bleed{
  background: #f1f2f7;
  z-index: 10;
  height: 300px;
}

.full-bleed.b{
  background: #fafafa;
  z-index: 10;
}

#padding-top-80{
  padding-top: 80px;
}

#padding-top-40{
  padding-top: 40px;
}

#footer {
  padding: 50px;
  background: #f1f2f7;
  margin-top: 25px;
}

#icon {
  font-size:55px;
  line-height: 100px;
}

#page_title{
  font-size: 60px;
}


#twitter-toggle{
  z-index: 100;
  position: relative;

}

#header-search {
  margin-top: 3px;

}

body.off-canvas.off-canvas-open #container {
  -webkit-transform: translate(-80, 0px);
  -ms-transform: translate(-80, 0px);
  -o-transform: translate(-80, 0px);
  transform: translate(-80, 0px);
  transition: transform 0.3s;
  -o-transition: -o-transform 0.3s;
  -ms-transition: -ms-transform 0.3s;
  -webkit-transition: -webkit-transform 0.3s;
}

 .main-content-wrapper {
    margin-left: 15%;
    margin-right: 15%;
 }

 .dashboard-tile {
    /*height:180px;*/
 }

 .loader{
    display:none;
    position: absolute;
    z-index:1001;
    width: 100%;
 }

 .loader .panel-body {
    margin-top: 50px;
    height: 300px;
 } 

 .page-title {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 70px;
  font-weight:400;
 }

 .scroll-flow{
  overflow:scroll;
  height:250px;
 }

 .link_text, .link_text a {
  font-family: 'Source Sans Pro', sans-serif;
  left:-45px;
  color: #fff;
  margin-top:13px;
 }

 .search-loader .btn a:hover {
  border-bottom: solid 3px #1abc9c;
 }

 .wiki-vice-logo {
  height: 120px;
 }

 .welcome-to {
  padding-left: 7%;
 }

 .alert {
  margin-top: 20px;
 }
