/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap.min
 *= require simple-line-icons
 *= require font-awesome
 *= require animate
 *= require main
 *= require app
 *= require nav_search
 *= require index
 *= require jquery-jvectormap-2.0.2
 *= require c3

 *= require page

 
 *= require_self
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.eot"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.woff"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.ttf"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.svg"


 */

 body {
  
 }

 .main-content-wrapper {
    margin-left: 15%;
    margin-right: 15%;
 }

 .dashboard-tile {
    /*height:180px;*/
 }

 .loader{
    display:none;
    position: absolute;
    z-index:1001;
    margin-left:9%;
    margin-right:10%;

    width: 80%;
 }

 .panel-body {
    height:280px;
 }

 .page-title {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 70px;
  font-weight:400;
 }

 .scroll-flow{
  overflow:scroll;
  height:250px;
 }

 #circle-around-twitter-bird {
  padding-top: 20px;
 }

 #twitter-bird {
  padding-top:7px;
 }
