
<footer class="footer" id="footer">


<div class="row">
	<div class="col-md-2 col-md-offset-3">
		<h4><a href="/about"><p>About</p></a></h4>
	</div>
	<div class="col-md-3">
		<h4><a href="http://flatironschool.com/"><p>Made with &hearts; at Flatiron School</p></a></h4>
	</div>
	<div class="col-md-2">
		<h4><a href="https://en.wikipedia.org/wiki/Main_Page"><p>Wikipedia</p></a></h4>
	</div>
</div>
</footer>