%footer.footer#footer
	.row
		.col-md-2.col-md-offset-3.col-sm-2.col-sm-offset-2.col-xs-3
			%h5= "#{link_to 'About', '#'}".html_safe
		.col-md-3.col-sm-5.col-xs-6
			%h5="#{link_to 'Made with &hearts; at Flatiron School', 'http://flatironschool.com/'}".html_safe
		.col-md-2.col-sm-3.col-xs-3
			%h5="#{link_to 'Wikipedia', 'https://en.wikipedia.org/wiki/Main_Page'}".html_safe