<header id="header">
  <!--logo start-->
  <div class="brand">
      <a href="<%= root_path %>" class="logo"><span>Wiki</span>Vice</a>
  </div>
  <!--logo end-->

<div class="row">
  <div class="col-md-7 navsearch">
      <%= form_tag("/pages", method: "post", class: "form") do %>
      <div class="form-group col-md-10">
          <%= text_field_tag(:query, "", class: "form-control navsearchbar", placeholder: "Search Wikipedia...") %>
      </div>
      <div class="form-group col-md-1 navbutton">
      <button type="submit" class="btn btn-primary" id="header-search"> <i class="fa fa-search fa-1.5x"></i></button>
      </div>
      <% end %>
  </div>

      <%= button_to "Random!", random_path, class: " search-loader col-md-1 link_text btn btn-primary", method: "get"%>

  <div class="toggle-navigation toggle-right col-md-1"  id="twitter-toggle">
    <a href="javascript:void(0)" class="btn btn-default" id="toggle-right">
        <i class="fa fa-twitter"></i>
    </a>
  </div>
  </div>
</header>
