        <header id="header">
            <!--logo start-->
            <div class="brand">
                <a href="<%= root_path %>" class="logo"><span>Wiki</span>Vice</a>
            </div>
            <!--logo end-->
            <div class="col-md-8 navsearch">
                <%= form_tag("/pages", method: "post", class: "form") do %>
                <div class="form-group col-md-10">
                    <%= text_field_tag(:query, "", class: "form-control navsearchbar", placeholder: "Search Wikipedia...") %>  
                </div>
                <div class="form-group col-md-2 navbutton">
                <button type="submit" class="btn btn-primary"> <i class="fa fa-search fa-3x"></i></button>

                

        </div>     
  <% end %>
</div>
            <!-- <div class="toggle-navigation toggle-left">
                <button type="button" class="btn btn-default" id="toggle-left" data-toggle="tooltip" data-placement="right" title="Toggle Navigation">
                    <i class="fa fa-bars"></i>
                </button>
            </div> -->
    
        </header>