        <header id="header">
            <!--logo start-->
            <div class="brand">
                <a href="<%= root_path %>" class="logo"><span>Wiki</span>Vice</a>
            </div>
            <!--logo end-->
            <div class="toggle-navigation toggle-left">
                <button type="button" class="btn btn-default" id="toggle-left" data-toggle="tooltip" data-placement="right" title="Toggle Navigation">
                    <i class="fa fa-bars"></i>
                </button>
            </div>
    
        </header>