<nav class="sidebar sidebar-left">
    <h5 class="sidebar-header">Navigation</h5>
    <ul class="nav nav-pills nav-stacked">
        <li class="active">
            <a href="index.html" title="Dashboard">
                <i class="icon-speedometer"></i> Dashboard
            </a>
        </li>
        <li class="nav-dropdown">
            <a href="#" title="UI Elements">
                <i class=" icon-chemistry"></i> UI Elements
            </a>
            <ul class="nav-sub">
                <li><a href="ui-alerts-notifications.html">Alerts &amp; Notifications</a>
                </li>
                <li><a href="ui-panels.html">Panels</a>
                </li>
                <li><a href="ui-buttons.html">Buttons</a>
                </li>
                <li><a href="ui-slider-progress.html">Sliders &amp; Progress</a>
                </li>
                <li><a href="ui-modals-popups.html">Modals &amp; Popups</a>
                </li>
                <li><a href="ui-icons.html">Icons</a>
                </li>
                <li><a href="ui-grid.html">Grid</a>
                </li>
                <li><a href="ui-tabs-accordions.html">Tabs &amp; Accordions</a>
                </li>
                <li><a href="ui-nestable-list.html">Nestable Lists</a>
                </li>
            </ul>
        </li>
        <li class="nav-dropdown">
            <a href="#" title="Tables">
                <i class="fa fa-table"></i> Tables
            </a>
            <ul class="nav-sub">
                <li><a href="tables-basic.html">Basic Tables</a>
                </li>
                <li><a href="tables-data.html">Data Tables</a>
                </li>
            </ul>
        </li>
        <li class="nav-dropdown">
            <a href="#" title="Forms">
                <i class="fa fa-list-alt"></i> Forms
            </a>
            <ul class="nav-sub">
                <li><a href="forms-components.html">Components</a>
                </li>
                <li><a href="forms-validation.html">Validation</a>
                </li>
                <li><a href="forms-mask.html">Mask</a>
                </li>
                <li><a href="forms-wizard.html">Wizard</a>
                </li>
                <li><a href="forms-multiple-file.html">Multiple File Upload</a>
                </li>
                <li><a href="forms-wysiwyg.html">WYSIWYG Editor</a>
                </li>
            </ul>
        </li>
        <li class="nav-dropdown">
            <a href="#" title="Mail">
                <i class="icon-envelope"></i> Mail
            </a>
            <ul class="nav-sub">
                <li><a href="mail-inbox.html">Inbox</a>
                </li>
                <li><a href="mail-compose.html">Compose Mail</a>
                </li>
            </ul>
        </li>
        <li class="nav-dropdown">
            <a href="#" title="Charts">
                <i class="icon-bar-chart"></i> Charts
            </a>
            <ul class="nav-sub">
                <li><a href="charts-chartjs.html">Chartjs</a>
                </li>
                <li><a href="charts-morris.html">Morris</a>
                </li>
                <li><a href="charts-c3.html">C3 Charts</a>
                </li>
            </ul>
        </li>
        <li class="nav-dropdown">
            <a href="#" title="Maps">
                <i class="icon-pointer"></i> Maps
            </a>
            <ul class="nav-sub">
                <li><a href="map-google.html">Google Map</a>
                </li>
                <li><a href="map-vector.html">Vector Map</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="typography.html" title="Typography">
                <i class="icon-note"></i> Typography

            </a>
        </li>
        <li class="nav-dropdown">
            <a href="#" title="Pages">
                <i class="icon-doc"></i> Pages
            </a>
            <ul class="nav-sub">
                <li><a href="pages-blank.html">Blank Page</a>
                </li>
                <li><a href="pages-login.html">Login</a>
                </li>
                <li><a href="pages-sign-up.html">Sign Up</a>
                </li>
                <li><a href="pages-calendar.html">Calendar</a>
                </li>
                <li><a href="pages-timeline.html">Timeline</a>
                </li>
                <li><a href="pages-404.html">404</a>
                </li>
                <li><a href="pages-500.html">500</a>
                </li>
            </ul>
        </li>
        <li class="nav-dropdown">
            <a href="#" title="Menu Levels">
                <i class="fa fa-folder-open-o"></i> Menu Levels
            </a>
            <ul class="nav-sub">
                <li>
                    <a href="javascript:;" title="Level 2.1">
                         <i class="icon-doc"></i> Level 1.1
                    </a>
                </li>
                <li>
                    <a href="javascript:;" title="Level 2.2">
                        <i class="icon-doc"></i> Level 1.2
                    </a>
                </li>
                <li class="nav-dropdown">
                    <a href="#" title="Level 2.3">
                         <i class="fa fa-folder-open-o"></i> Level 1.3
                    </a>
                    <ul class="nav-sub">
                        <li>
                            <a href="javascript:;" title="Level 3.1">
                                <i class="icon-doc"></i> Level 2.1
                            </a>
                        </li>
                        <li class="nav-dropdown">
                            <a href="#" title="Level 3.2">
                                 <i class="fa fa-folder-open-o"></i> Level 2.2
                            </a>
                            <ul class="nav-sub">
                                <li>
                                    <a href="javascript:;" title="Level 4.1">
                                        <i class="icon-doc"></i> Level 3.1
                                    </a>
                                </li>
                                <li class="nav-dropdown">
                                    <a href="#" title="Level 4.2">
                                         <i class="fa fa-folder-open-o"></i> Level 3.2
                                    </a>
                                    <ul class="nav-sub">
                                        <li class="nav-dropdown">
                                            <a href="#" title="Level 5.1">
                                                 <i class="fa fa-folder-open-o"></i> Level 4.1
                                            </a>
                                            <ul class="nav-sub">
                                                <li>
                                                    <a href="javascript:;" title="Level 6.1">
                                                         <i class="icon-doc"></i> Level 5.1
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" title="Level 6.2">
                                                         <i class="icon-doc"></i> Level 5.2
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="javascript:;" title="Level 5.2">
                                                <i class="icon-doc"></i> Level 4.2
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;" title="Level 5.3">
                                                 <i class="icon-doc"></i> Level 4.3
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</nav>