 <section id="main-content">
                <div class="row">
                    <div class="col-sm-11">
                        <div class="timeline">
                            <article class="timeline-item left">
                                <div class="text-right">
                                    <div class="time-layer">
                                        <span class="label label-primary">April 20, 2014</span>
                                    </div>
                                </div>
                            </article>
                            <article class="timeline-item ">
                                <div class="timeline-layer">
                                    <div class="panel">
                                        <div class="panel-heading">
                                            <h1 class="panel-title"><i class="fa fa-clock-o"></i> 1 hour ago</h1>
                                        </div>
                                        <div class="panel-body">
                                            <span class="arrow"></span>
                                            <div class="timeline-icon"><i class="fa fa-pencil"></i>
                                            </div>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                                                mollit anim id est laborum.</p>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article class="timeline-item left">
                                <div class="timeline-layer">
                                    <div class="panel">
                                        <div class="panel-heading">
                                            <h1><i class="fa fa-clock-o"></i> 3 hours ago</h1>
                                        </div>
                                        <div class="panel-body">
                                            <span class="arrow-left"></span>
                                            <div class="timeline-icon"><i class="fa fa-video-camera"></i>
                                            </div>
                                            <iframe src="//player.vimeo.com/video/87191104?title=0&amp;byline=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                                        </div>
                                    </div>
                                </div>
                            </article>

                            <article class="timeline-item left">
                                <div class="text-right">
                                    <div class="time-layer">
                                        <span class="label label-primary">April 19, 2014</span>
                                    </div>
                                </div>
                            </article>

                        </div>
                    </div>
                </div>
            </section>