 <section id="main-content">
  <div class="row">
    <div class="col-sm-11">
      <div class="timeline">
        <% @top_revisions.each.with_index do |revision, i| %>
          <article class="timeline-item left">
            <div class="text-right">
              <div class="time-layer">
                <span class="label label-primary"><%= time_tag revision.timestamp %></span>
              </div>
            </div>
          </article>

        <% if i%2 != 0 %>
          <article class="timeline-item">
        <% else %>
          <article class="timeline-item left">
        <% end %>
            <div class="timeline-layer">
              <div class="panel">
                <div class="panel-heading">
                  <h1 class="panel-title"><i class="fa fa-clock-o"></i> <%= time_ago_in_words(revision.timestamp) %> ago</h1>
                </div>
                <div class="panel-body">
                <% if i%2 != 0 %>
                  <span class="arrow"></span>
                <% else %>
                  <span class="arrow-left"></span>
                <% end %>
                  <div class="timeline-icon"><i class="fa fa-pencil"></i></div>
                  <%= render partial: 'revisions/revision', locals: { revision: revision, revision_parser: @revision_parser} %>
                </div>
              </div>
            </div>
          </article>
        <% end %>
      </div>
    </div>
  </div>
</section>